* {
    font-family: 'Poppins', sans-serif;
}

table, td, th {
    border: 1px solid black;
    width: 100%;
    color: aliceblue;
}

table {
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

th {
    background-color: #0f4d0f;
    height: 75px;
    color: gold;
}

td {
    background-color: rgb(119, 25, 25);
    height: 50px;
}

.horario {
    background-color: #0f4d0f;
    color: gold;
}