* {
    font-family: 'Poppins', sans-serif;
}

table, td, th {
    border: 1px solid black;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

th {
    background-color: #328b32;
    height: 75px;
}

td {
    background-color: rgb(255, 255, 255);
    height: 50px;
}

td[colspan] {
    font-weight: bold;
    background-color: #afdd94;
    height: 40px;
}